/*!* */
/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: flex-start;*/
/*}*/

/*.item {*/
/*  order: 5; !* default is 0 *!*/


/*!*App.parent {*!*/


/*!*   display: flex;*!*/


/*!*   height: 300px; !* Or whatever *!*!*/


/*!* }*!*/


/*!* *!*/


/*!* Navigation.child {*!*/


/*!*   width: 100px;  !* Or whatever *!*!*/


/*!*   height: 100px; !* Or whatever *!*!*/


/*!*   margin: auto;  !* Magic! *!*!*/


/*!* }*!*/


/*!* .Navigation { flex:2 0px;}*!*/

/*.App {*/
/*    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;*/
/*    text-align: center;*/
/*}*/