<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order confirmation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
<p th:text="${'Hello, ' + user.firstName  + '!'}"></p>

<div class="display-block">
    <p th:text="${'Your ordered products :'}"></p>
    <div th:each="product : ${products}">
        <p th:text="${product.productName}"></p>
        <picture th:src="${product.productPhoto}"></picture>
        <p th:text="${product.quantity}"></p>
        <p th:text="${product.size}"></p>
    </div>
</div>

<p>Cheers!</p>
</body>
</html>