section.slideshow {
  width: 80%;
}
section.slideshow div.slide-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
section.slideshow section.current-slide {
  width: 400px;
  height: 300px;
  margin: auto 10px;
}

section.slideshow section.slide div.slide-thumbnail {
  width: 100%;
  height: 100%;
  background: #541d82;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  box-shadow: 5px 5px 6px #551d829c;
}

section.slideshow div.slideshow-controller {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.slideshow div.slideshow-controller span {
  padding: 10px;
  width: 100px;
  border: none;
  background: #541d82;
  color: #f5f5f5;
  cursor: pointer;
  text-align: center;
  box-shadow: 3px 3px 5px #551d8283;
  user-select: none;
}
section.slideshow div.slideshow-controller span:hover {
  color: #ffc200;
  text-shadow: 3px 3px 5px #ffc200;
}
section.slideshow div.slideshow-controller span:active {
  color: #541d82;
  text-shadow: 3px 3px 5px #541d82;
  background: #ffc200;
}
